{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="allauth-flex-ct">
    <div class="allauth-content">
      <h3>{% trans "Sign In" %}</h3>

      <p>{% blocktrans %}Welcome back to Minifolio! <br> 
        Your miniature journey continues here! <br>
        <br>
        Not created an account yet? <a class="link" href="{{ signup_url }}"> Register Here.</a>{% endblocktrans %}</p>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="button" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
</div>

{% endblock %}