/* Global */

body {
    background-color: rgb(26, 26, 26);
    color: rgb(224, 224, 224);
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

a {
    color: rgb(240, 153, 51);
    text-decoration: none;
}

a:hover {
    color: rgb(224, 224, 224);
    text-decoration: underline;
}

main {
    padding-top: 75px;
    padding-bottom: 100px;
}

.flex-ct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    text-align: center;
    background-color: rgb(35, 35, 35);
    border-style: solid;
    border-color: rgb(51, 51, 51);
    margin: 10px;
}

/* Buttons */

button {
    all: unset;
}

.button {
    position: relative;
    width: 10em;
    height: 2em;
    margin: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgb(224, 224, 224);
    cursor: pointer;
    background-color: rgb(18, 18, 18);
    border-radius: 50px;
    border: none;
    transition: color .2s linear,
        box-shadow .3s linear,
        background-color .3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.postbtn {
    position: relative;
    width: 2em;
    height: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: rgb(18, 18, 18);
    cursor: pointer;
    background-color: rgb(224, 224, 224);
    border-radius: 30px;
    transition: color .2s linear,
        box-shadow .3s linear,
        background-color .3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.postbtn:focus,
.postbtn:hover,
.button:focus,
.button:hover {
    box-shadow: 0 0 110px rgb(240, 153, 51);
    background-color: rgba(224, 224, 224, 0.7);
    color: rgb(18, 18, 18);
    font-weight: 500;
}

.postbtn:focus:before,
.postbtn:hover:before,
.postbtn:focus:after,
.postbtn:hover:after,
.button:focus:before,
.button:hover:before,
.button:focus:after,
.button:hover:after {
    width: 100%;
    left: 0%;
}

.postbtn:before,
.postbtn:after,
.button:before,
.button:after {
    content: '';
    position: absolute;
    pointer-events: none;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: rgb(224, 224, 224);
    transition: width, left, 250ms cubic-bezier(0.25, .8, .25, 1);
}

.postbtn:before,
.button:before {
    top: -2px;
}

.postbtn:after,
.button:after {
    bottom: -2px;
}

button a {
    text-decoration: none;
    color: rgb(224, 224, 224);

}

button a:hover {
    color: rgb(18, 18, 18);

}


/* Navbar and Footer                  */

.navbar,
.footer {
    background-color: rgb(18, 18, 18);
    color: rgb(224, 224, 224);
}


.nav-link,
.navbar-brand {
    color: rgb(224, 224, 224);
}

.navbar-brand:hover,
.nav-link:hover,
.navbar-toggler {
    color: rgb(240, 153, 51);
}

.navbar-toggler {
    background-color: rgb(224, 224, 224)
}


.qoute {
    padding-left: 15px;
}

.copyright {
    padding-right: 15px;
}


/* Landing Page                   */

.title-container {
    border-style: solid;
    border-color: rgb(51, 51, 51);
    margin-bottom: 50px;
}

.logo {
    margin-top: 30px;
}

.title-quote {
    margin-top: 30px;
    padding-bottom: 30px;
}

.carousel {
    width: 55%;
    margin-top: 30px;
    margin-bottom: 50px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    border-radius: 100%;
    color: black;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(240, 153, 51, 0.5);
    color: rgb(224, 224, 224);
}

.carousel-caption {
    background-color: rgba(35, 35, 35, 0.5);
    border-radius: 30px;
}

.landing-flex-ct {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about {
    width: 75%;
    text-align: center;

}

.reasons {
    list-style: none;
}

/* Allauth pages            */
.allauth-flex-ct {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.allauth-content {
    background-color: rgb(35, 35, 35);
    border-style: solid;
    border-color: rgb(51, 51, 51);
    margin: 10px;
    padding: 25px 100px 25px 100px;
    text-align: center;
}

/* inputs & labels */

.signup label,
.login label {
    display: block;
    margin-bottom: 8px;
}



#id_password,
#id_login,
#id_username,
#id_email,
#id_password1,
#id_password2 {
    border: none;
    border-radius: 15px;
    padding: 5px;
    color: rgb(26, 26, 26);
    background-color: rgb(224, 224, 224);
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
}

#id_login:focus,
#id_password:focus,
#id_username:focus,
#id_email:focus,
#id_password1:focus,
#id_password2:focus {
    outline-color: rgb(240, 153, 51);
}

#id_remember {
    accent-color: rgb(240, 153, 51);
}




/* Home Page */

.card {
    width: 600px;
}

.comment-form {}


/*    Media Querys       */

/*     Small screen    */
@media screen and (max-width:576px) {

    /*    Footer        */
    .qoute,
    .copyright {
        display: none;
    }

    .postbtn {
        margin: 10px;
    }

    /*    Landing      */

    .about {
        width: 85%;
    }

    .carousel {
        width: 75%;
    }
}