/* Global */

body {
    background-color: rgb(26, 26, 26);
    color: rgb(224, 224, 224);
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

main {
    padding-top: 75px;
    padding-bottom: 100px;
}

button {
    all: unset;
}

.content-container {
    background-color: rgb(35, 35, 35);
    border-style: solid;
    border-color: rgb(51, 51, 51);
}

/* Navbar and Footer                  */
.navbar,
.footer {
    background-color: rgb(18, 18, 18);
    color: rgb(224, 224, 224);
}

.nav-link,
.navbar-brand {
    color: rgb(235, 240, 240);
}

.navbar-brand:hover,
.nav-link:hover,
.navbar-toggler {
    color: rgb(240, 153, 51);
}

.navbar-toggler {
    background-color: rgb(224, 224, 224)
}

.postbtn {
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.qoute {
    padding-left: 15px;
}

.copyright {
    padding-right: 15px;
}


/* Landing Page                   */

.title-container {
    border-style: solid;
    border-color: rgb(51, 51, 51);
}

.logo {
    margin-top: 30px;
}

.title-quote {
    margin-top: 30px;
    padding-bottom: 30px;
}


.one {
    background-color: blue;
}

.two {
    background-color: yellow;
}


/* Media Querys */

/* Small screen */
@media screen and (max-width:576px) {

    /* Footer  */
    .qoute,
    .copyright {
        display: none;
    }

    .postbtn {
        margin: 10px;
    }
}