{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}
<!-- Create Profile -->
<div>
    <h3>Create Profile:</h3>
    <p>Username: {{ user.username }}</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form | crispy }}
        <button type="submit" class="button" value="submit">Submit</button>
    </form>
</div>
{% else %}
<!-- Error Message -->
<div class="flex-ct">
    <div class="category-content">
        <h2> YOU DO NOT HAVE ACCESS </h2>
        <h5>You are seeing this as you are not logged in or do not have an account.</h5>
        <h5>Please login <a href="{% url 'account_login' %}">Here</a></h5>
        <h5>If you do not have an account please register for one <a href="{% url 'account_signup' %}">Here</a></h5>
        <h4>If you believe there is an issue with your account, please email support at support@minifolio.com</h4>
    </div>
</div>
{% endif %}

{% endblock content %}