{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div>
    {% if user.is_authenticated %}
    <h3>Edit:</h3>
    <p>Posting as: {{ user.username }}</p>
    <form action="{{ post.pk }}" method="post" enctype="multipart/form-data">
        {{ form | crispy }}
        {% csrf_token %}
        <button type="submit" value="Save" class="button">Submit</button> <button class="button"><a href="{% url 'home' %}">Cancel</a></button>
    </form>
    {% endif %}
</div>


{% endblock content %}