{% extends "base.html" %}
{% load cloudinary %}
{% block content %}
{% load crispy_forms_tags %}


<!-- Blog Entries Column -->

    {% for post in posts %}
<div class="flex-ct">
    <div class="content">
        <div>
            <span>{{ post.posted_on}}</span><span>{{ post.creator }}</span>
        </div>
        <div>
            <img src="{{ post.post_image.url }}" class="" alt="...">
        </div>
        <div>
            <span>
                <i class="fa-solid fa-star"></i>{{ post.total_super_vote }}
                <i class="fa-regular fa-circle-up"></i> {{ post.total_up_votes }}
                <i class="fa-regular fa-circle-down"></i>{{post.total_down_vote }}
            </span>
        </div>
        <div>
            {{ post.header }}
        </div>
        <div>
            {{ post.caption }}
        </div>
        <div>
            <p class="d-inline-flex gap-1">
                
            </p>
                <div class="card">
                    {% for comment in comments %}
                    {% if comment.post_comments.id == post.id %}
                    <div>
                        <span>{{ user.username }}</span><span>{{ comment.created_on }}</span>
                    </div>
                    
                    <div>{{ comment.comment_body }}</div>
                    {% else %}
                    <div>No comments</div>
                    {% endif %}
                </div>
                {% endfor %}
                
                <div>
                    {% if user.is_authenticated %}
                    <h3>Comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" class="comment-form">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="button">Submit</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{%endblock%}