{% extends "base.html" %}
{% load cloudinary %}
{% block content %}

<div class="container title-container">
    <div class="row">
        <div class="col">
           <img class="rounded mx-auto d-block img-fluid logo" src="/static/images/logo-full.png" alt="MiniFolio Logo">
           <h2 class="text-center title-quote">Share, Inspire & Connect</h2>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col">
            <button class="button">Sign In</button>
            <button class="button">Register</button>
        </div>
    </div>
</div>
<div class="landing-flex-ct">
        <div class="about">
            <h2>What is MiniFolio?</h2><br>
            <p class="text-center">
                Welcome to MiniFolio, the online haven for miniature enthusiasts. Here, your carefully crafted board
                game miniatures and
                Warhammer creations take center stage. Our platform is more than just a showcase; it's a vibrant
                community where
                passionate artists and collectors unite. Display your miniatures with pride, interact with fellow
                aficionados through
                comments and likes, and find inspiration in the exquisite world of miniature artistry. Every detail
                matters, every
                stroke of the brush has a story, and every interaction strengthens our community. Join us in celebrating
                the beauty of
                the small, where every miniature finds its voice. Welcome to Minifolio, Share, Inspire and Connect.
            </p>
        </div>
</div>


{%endblock%}