{% extends "base.html" %}
{% load cloudinary %}
{% block content %}


<div class="container">
    {% for post in object_list %}

    <h2>{{ post.header }}</h2>
    {% cloudinary post.post_image %}

    <p>Creator: {{ post.creator }}</p>
    {{ post.caption }}
    <p>{{ post.posted_on}} <i class="fa-solid fa-star"></i> {{ post.total_super_vote }} <i
            class="fa-regular fa-circle-up"></i> {{ post.total_up_votes }} <i class="fa-regular fa-circle-down"></i> 
            {{post.total_down_vote }}</p>

    {% endfor %}
</div>

{%endblock%}