{% extends "base.html" %}
{% load cloudinary %}
{% block content %}

{% if user.is_authenticated %}
<div class="flex-ct">
    <div class="profile-content">
        <div>
            <img src="{{ profile.profile_image.url }}" class="profile-image" alt="{{ profile.user }}'s profile photo">
            <h2>{{ profile.user }}</h2> 
            {% if profile.user == user %}
            <a href="{% url 'edit-profile' profile.pk %}">Edit My Profile</a>
            {% endif %}
        </div>
        <br>
        <div class="caption-body">
            <p>
                {{profile.profile_bio}}
            </p>
        </div>
    </div>
</div>
{% for post in myposts %}
{% if post.creator.id == profile.user.id %}
<div class="flex-ct">
    <div class="content">
        <div>
            <span class="post-stamp-left">{{ post.posted_on}}</span>
            {% if post.creator == user %}
            <span class="post-stamp-right"><a href="{% url 'delete-post' post.pk %}">Delete</a></span>
            <span class="post-stamp-right"><a href="{% url 'edit-post' post.pk %}">Edit</a></span>
            {% endif %}
        </div>
        <div>
            <img src="{{ post.post_image.url }}" class="post-img" alt="{{post.creator}}'s image of a miniature">
        </div>
        <div class="likes-container">
            <div class="likes">
                    <form class="d-inline" action="{% url 'super-vote' post.pk %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" value="{{ post.pk }}" class="button-like"><i
                                class="fa-solid fa-star fa-xl"></i></button>
                        {% else %}
                        <button type="submit" value="{{ post.pk }}" class="button-like"><i
                                class="fa-regular fa-star fa-xl"></i></button>
                        {% endif %}
                    </form>
                    <span class="votes"> {{ post.total_super_vote }} </span>
                    <form class="d-inline" action="{% url 'up-vote' post.pk %}" method="POST">
                        {% csrf_token %}
                        {% if upVoted %}
                        <button type="submit" value="{{ post.pk }}" class="button-like"><i
                                class="fa-solid fa-circle-arrow-up fa-xl"></i></button>
                        {% else %}
                        <button type="submit" value="{{ post.pk }}" class="button-like"><i
                                class="fa-solid fa-up-long fa-xl"></i></button>
                        {% endif %}
                    </form>
                    <span class="votes"> {{ post.total_up_votes }} </span>
                    <form class="d-inline" action="{% url 'down-vote' post.pk %}" method="POST">
                        {% csrf_token %}
                        {% if downVoted %}
                        <button type="submit" value="{{ post.pk }}" class="button-like"><i
                                class="fa-solid fa-circle-arrow-down fa-xl"></i></button>
                        {% else %}
                        <button type="submit" value="{{ post.pk }}" class="button-like"><i
                                class="fa-solid fa-down-long fa-xl"></i></button>
                        {% endif %}
                    </form>
                    <span class="votes"> {{ post.total_down_vote }} </span>
            </div>        
        </div>
        <div>
            <h3>
                {{ post.header }}
            </h3>
            <h5>
                <a href="{% url 'category' post.category %}"> {{ post.category }} </a>
            </h5>
        </div>
        <div class="user-title">
            <h4>Posted by: <a href="{% url 'profile' post.creator.pk %}">{{ post.creator }}</a></h4>
        </div>
        <div class="caption-body">
            <p>{{ post.caption }}</p>
        </div>

        <div>
            <p class="d-inline-flex gap-1">
                <a data-bs-toggle="collapse" href="#collapseExample{{ post.id }}" role="button" aria-expanded="false"
                    aria-controls="collapseExample{{ post.id }}"> Show Comments</a>
            </p>
            <div class="collapse" id="collapseExample{{ post.id }}">
                <div class="card">
                    {% for comment in comments %}
                    {% if comment.post_comments.id == post.id %}
                    <br>
                    <div>
                        <span>{{ comment.name }}</span> <span>{{ comment.created_on }}</span>
                    </div>
                    <div>{{ comment.comment_body }}</div><br>
                    {% endif %}
                    {% empty %}
                    <br>
                    <div>
                        <p>No Comments</p>
                    </div>
                    {% endfor %}
                </div>
                <form action="{% url 'post-comment' post.pk %}"><button class="button">Comment</button></form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% else %}
<div class="flex-ct">
    <div class="category-content">
        <h2> YOU DO NOT HAVE ACCESS </h2>
        <br>
        <h5>You are seeing this as you are not logged in or do not have an account.</h5><br>
        <h5>Please login <a href="{% url 'account_login' %}">Here</a></h5><br>
        <h5>If you do not have an account please register for one <a href="{% url 'account_login' %}">Here</a></h5>
        <br>
        <br>
        <h4>If you believe there is an issue with your account, please email support at support@minifolio.com</h4>
    </div>
</div>
{% endif %}
{% endblock %}