{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div>
    {% if user.is_authenticated %}
    <h3>Upload:</h3>
    <p>Posting as: {{ user.username }}</p>
    <form method="post" enctype="multipart/form-data">
        {{ upload_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="button">Submit</button> <a href="{% url 'home' %}">Cancel</a>
    </form>

    


    {% else %}
    <div class="flex-ct">
        <div class="category-content">
            <h2> YOU DO NOT HAVE ACCESS </h2>
            <br>
            <h5>You are seeing this as you are not logged in or do not have an account.</h5><br>
            <h5>Please login <a href="{% url 'account_login' %}">Here</a></h5><br>
            <h5>If you do not have an account please register for one <a href="{% url 'account_signup' %}">Here</a></h5>
            <br>
            <br>
            <h4>If you believe there is an issue with your account, please email support at support@minifolio.com.</h4>
        </div>
    </div>
    {% endif %}
</div>


{% endblock content %}